<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd   
    ">
    
<!-- property injection (getter, setter) -->
<bean id="car" class="com.zhe.springbasic.demo.Car">  
    <property name="maxSpeed" value="200"></property>
    <property name="brand" value="Hongqi CA72"></property>  
    <property name="price" value="200000.00"></property>
</bean>

<!-- constructor injection -->
<bean id="car1" class="com.zhe.springbasic.demo.CarConstructorInjection">  
    <constructor-arg type="int" value="300"></constructor-arg>
    <constructor-arg type="java.lang.String" value="BMW"></constructor-arg>
    <constructor-arg type="double" value="300000.00"></constructor-arg>
</bean>

<bean id="carBean" class="com.zhe.springbasic.demo.CarBean"></bean>

<context:annotation-config />
<context:component-scan base-package="com.zhe.springbasic.demo"/>

</beans>